.header{
    padding: 60px;
    text-align: center;
    color: #F5EFE7;
    background:#213555;
    
}

h1{
    font-size: 600%;
    font-family: 'Lobster', cursive;
}

h2{
    font-family: 'ubuntu', sans-serif;
    font-size: 180%;
}